{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

{# div below is the hook for htmx swap #}
<div id="collection-detail">
	
<div class="container mt-5 mb-5">
	
	<div class="row">
		<div class="col-md-6 col-9 mx-auto g-0 pb-2">
			{% include 'partials/nav/loading_icon.html' %}
			<p class="float-end">
				{% include 'partials/nav/search_icon.html' %}
				{% include 'partials/nav/list_icon.html' %}
				{% include 'partials/nav/user_icon.html' %}
			</p>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6 col-9 mx-auto bg-white shadow-lg rounded">
					
			<p class="mt-3 text-center">
				<a class="text-decoration-none" href="{% url 'log_collection_update' slug=collection.slug pk=collection.pk %}">
					{{ collection.name }}
				</a>
			</p>
				
			{% include 'partials/collections/collection_items_events.html' %}
		</div>

		</div>

	</div>
	
	

</div>
</div>
{% endblock %}

{% block js %}
<script>
	function deleteEvent(deleteEventButtonElementId) {
	var deleteButton = document.getElementById(deleteEventButtonElementId);	

	if (deleteButton.classList.contains('invisible')) {
			deleteButton.classList.remove('invisible')
	} else {
		deleteButton.classList.add('invisible')
	}
	
}
</script>

{% endblock %}