			<ul class="list-group list-group-flush my-2 my-md-4">
			  <li class="list-group-item"><span class="badge rounded-pill bg-primary text-white">A</span> A collection named something here</li>
			  <li class="list-group-item"><span class="badge rounded-pill bg-primary text-white">B</span> A collection named something here</li>
			  <li class="list-group-item"><span class="badge rounded-pill bg-primary text-white">C</span> A collection named something here</li>
			  <li class="list-group-item"><span class="badge rounded-pill bg-primary text-white">D</span> A collection named something here</li>

			</ul>