{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

{# div below is the hook for htmx swap #}
<div id="collection-detail">
	
<div class="container mt-5 mb-5">
	
	<div class="row">
		<div class="col-md-6 col-9 mx-auto g-0 pb-2">
			<p class="float-end">
				

<a class="text-decoration-none" href="#">
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg>
</a>
&nbsp;


			
<a class="text-decoration-none" href="{% url 'log_collections' %}">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
  <title>Collections</title>
  <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
  <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
</svg>
</a>
&nbsp;

			<a class="text-decoration-none" href="{% url 'log_collection_update' slug=collection.slug pk=collection.pk %}">
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
	  <title>Update collection</title>
  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
</svg></a>
				&nbsp;
				<a class="text-decoration-none" href="{% url 'logout' %}">
					  <title>User settings</title>
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
  <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
</svg></a></p>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6 col-9 mx-auto bg-white shadow-lg rounded">
					
					<p class="mt-3 text-center">
					{{ collection.name }}
					</p>
				

				    

			
				{% if items %}
					<div class="" id="">
						
						<textarea id="eventComment" name="comment" class="form-control" placeholder="Comment ..."></textarea>
					</div>
					{% for item in items %}
							<div class="my-3" id="">
								<div class="card">
								  <div class="card-body">
									<div class="container g-0">
										<div class="row">
											<div class="col-8">
												<h5 class="card-title py-0 my-0">{{ item.name }}</h5>
								    			<p class="card-text py-0 my-0 text-secondary">
													<small>{{ item.description }}</small>
												</p>
												
												<p>
													<a class="" title="Show item options" data-bs-toggle="collapse" href="#itemShowMore-{{item.id}}" role="button" aria-expanded="false" aria-controls="itemShowMore-{{item.id}}">
														
														
														<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
														  <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
														</svg>
													</a>
												</p>
												
												<div class="collapse py-0 my-0" id="itemShowMore-{{item.id}}">
														<a href="{% url 'log_collection_item_update' pk=item.id %}" class="btn btn-outline-primary btn-sm">
															<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
															<title>Update item</title>
															  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
															</svg>
														</a>
														
	

												</div>
												
											</div>
											<div class="col-4">
													<button class="btn btn-sm btn-success float-end" hx-post="{% url 'log_collection_item_event_create' pk=item.id %}" hx-include="[name='comment']" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
													
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
													  <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
													</svg>
												</button>
											</div>
								  </div>
								</div>
							</div>
						</div>
					</div>
					
					{% endfor %}
				{% else %}
				<div class="mt-3">
					<div class="d-grid gap-2 my-3">
						<a href="{% url 'log_collection_item_create' pk=collection.id %}" class="btn btn-outline-primary btn-sm">
							Add Item
						</a>
					</div>
				</div>
				{% endif %}
			

			{% if page %}

				<ul class="list-group list-group-flush my-2 my-md-4">
					{% for event in page %}
				  <li class="list-group-item">
					  
					  <a class="text-decoration-none" data-bs-toggle="collapse" href="#collapseEvent-{{ event.id }}" role="button" aria-expanded="false" aria-controls="collapseEvent-{{ event.id }}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
						  <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
						</svg>
					  </a>
					  
					  {{ event }} - {{ event.created }}
				  
				<div class="collapse" id="collapseEvent-{{ event.id }}">
					
					{% if event.comment %}
						<p style="white-space: pre-line">
							{{ event.comment }}
						</p>
					{% else %}
						<div class="pt-3"></div>
					{% endif %}
					
					
						<a class="btn btn-outline-danger btn-sm" onclick="deleteEvent('deleteEvent-{{ event.id }}')">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg>
</a>

<a class="btn btn-sm btn-danger invisible float-end" id="deleteEvent-{{ event.id }}" hx-delete="{% url 'log_collection_item_event_delete' pk=event.pk %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
	  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
	  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
	</svg>
	
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
	  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
	</svg>

</a>
						


				</div>
				  </li>
				  
				  
				  {% endfor %}
				</ul>
		 	 {% endif %}

			 {% include 'pagination.html' %}
		</div>

		</div>

	</div>
	
	

</div>
</div>
{% endblock %}

{% block js %}
<script>
	function deleteEvent(deleteEventButtonElementId) {
	var deleteButton = document.getElementById(deleteEventButtonElementId);	

	if (deleteButton.classList.contains('invisible')) {
			deleteButton.classList.remove('invisible')
	} else {
		deleteButton.classList.add('invisible')
	}
	
}
</script>

{% endblock %}